@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body {
    margin: 0;
    padding: 20px;
    overflow: auto;
    line-height: 1.5;
    color: black;
    background-color: rgb(19, 0, 88);
    font-family: 'Freeman', sans-serif;
}

header{
    background-color: rgb(13, 78, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#title{
    color: rgb(233, 171, 2);
    font-size: 70px;
    margin: 10px;
    text-align: center;
    display: flex;
}

#logo{
    width: 150px;
}

#logo img{
    max-width: 100%;
    height: auto;
}

#menu ul{
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
    padding: 0;
    text-align: right;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: whitesmoke;
}

#menu ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);;
}

    .tarjeta {
        width: 150px; 
        height: 250px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 20px; 
        padding: 20px;
        transition: transform 0.3s ease;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }


.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    max-width: 100%;
    height: auto;
}

.header-tarjeta {
    font-size: 18px;
    font-weight: bold;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: rgb(13, 78, 136);
    text-align: left;
}