@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
body{
    margin: 0px;
    padding: 20px;
    overflow: auto;
    line-height: 1.5;
    color: black;
    background-color: rgb(19, 0, 88);
    font-family: 'Freeman', sans-serif;
}

header{
    background-color: rgb(13, 78, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#title{
    color: rgb(233, 171, 2);
    font-size: 70px;
    margin: 10px;
    text-align: center;
    display: flex;
}

.fondo-imagen{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/previews/013/532/369/original/film-roll-transparent-free-png.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.fondo-imagen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    color: whitesmoke;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.425);
}

section h2 {
    border-bottom: 2px solid #333;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: rgb(240, 255, 255);
}

.historia{
    color: rgb(255, 255, 255);
    
}

.lista-avances{
    list-style: none;
    color: #d4d3d6;
    font-size: 23px;
    padding: 0;
    margin: 20px;
}

#logo img{
    width: 150px;
    max-width: 100%;
    height: auto;
}

#menu ul{
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
    padding: 0;
    text-align: right;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: whitesmoke;
}

#menu ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: rgb(13, 78, 136);
    text-align: left;
}

/*----------------------------CAROUSEL------------------------*/
.carousel {
    width: 60%;
    height: 60vh;
    position: absolute;
    top: 10%;
    left: 20%;
    padding-bottom: 200px;
}

.carousel-item {
    width: 100%;
    height: 60vh;
}

.carousel img {
    width: 100%;
    height: 100%;
}

/*----------------------------FORO------------------------------*/

.actividad{
    text-align: center ;
    color: rgb(233, 171, 2);
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.inputsFormulario{
    margin: 30px;
}

input[type="text"], input[type="text"], input[type="url"], textarea {
    width: 100%;
    padding: 1dvh;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.custom-input:focus {
    border-color: gold;
    box-shadow: 0 0 5px gold; 
}

button[type="submit"], button[type="button"] {
    background-color: rgb(48, 19, 153); 
    border: 1px solid;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Estilo para el botón "Agregar Actividad" al pasar el ratón */
button[type="submit"]:hover, button[type="button"]:hover {
    background-color: rgb(81, 47, 202);
    border: 1px solid gold; /* Color de fondo al pasar el ratón */
}

/* Contenedor de los botones */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#footer {
    text-align: left;
    color: rgb(13, 78, 136);
    padding: 10px;
}