@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body {
    margin: 0;
    padding: 20px;
    overflow: auto;
    line-height: 1.5;
    color: black;
    background-color: rgb(19, 0, 88);
    font-family: 'Freeman', sans-serif;
}

header{
    background-color: rgb(13, 78, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#menu{
    font-size: 20px;
}

#menu ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);;
}

#logo img{
    width: 150px;
    max-width: 100%;
    height: auto;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}

.tarjetas {
    width: calc(33.33% - 40px);
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjetas:hover {
    transform: scale(1.02);
}

.tarjetas img {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: rgb(13, 78, 136);
    text-align: left;
}