
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body{
    margin: 0px;
    padding: 20px;
    overflow: auto;
    line-height: 1.5;
    color: black;
    background-color: rgb(19, 0, 88);
    font-family: 'Freeman', sans-serif;
}

header{
    background-color: rgb(13, 78, 136);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#title{
    color: rgb(233, 171, 2);
    font-size: 50px;
    margin: 10px;
    text-align: center;
    display: flex;
}
#logo{
    width: 100px;
}

#logo img{
    max-width: 100%;
    height: auto;
}

#menu ul{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    text-align: right;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: whitesmoke;
}

#menu ul li a:hover{
    background-color: rgba(255, 255, 255, 0.3);;
}

#tituloPelicula{
    color:whitesmoke;
    font-size: 30px;
    margin: 10px;
    display: flex;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pelicula{
    width: 200px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.contenedor-tarjetas:hover{
    transform: scale(1.01);
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: rgb(13, 78, 136);
    text-align: left;
}
